@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*::before, *::after {
    box-sizing: inherit;
}

html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root {
    --Verydarkblue: hsl(233, 47%, 7%);
    --Darkdesaturatedblue: hsl(244, 38%, 16%);
    --Softviolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
    --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* font-size: 18px; */
}

.container {
    background-color: var(--Verydarkblue);
    color: var(--White);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    max-width: 850px;
    background-color: var(--Darkdesaturatedblue);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    border-radius: 10px;
    overflow: hidden;
}

.card > div {
    width: 50%;
}

.contents {
    margin: 61px;
    margin-top: 30px;
}

.contents .header-span {
    color: var(--Softviolet);
}

.contents p {
    color: var(--Slightlytransparentwhite);
}

.stats {
    display: flex;
    /* justify-content: space-between; */
    gap: 53px;
    margin-top: 43px;
}

.stats .num {
    font-size: 1.5em;
    font-weight: 900;
}
.stats .num .span {
    display: block;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 14px;
    color: var(--Slightlytransparentwhite);
}
/* .img-bg {
    background: url(/images/image-header-desktop.jpg), rgba(255, 20, 100, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
} */
.img-bg {
    background-color: var(--Softviolet);
}

.img-bg > img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

@media (max-width: 850px) {

    .card {
        margin: 40px;
        max-width: 330px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 10px; */
        overflow: hidden;
    }

    .card > div {
        width: 97%;
    }
    .contents {
        order: 2;
        padding: 10px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        /* gap: 53px; */
        /* margin-top: 43px; */
    }
    
}