@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

:root {
    --Verydarkblue: hsl(233, 47%, 7%);
    --Darkdesaturatedblue: hsl(244, 38%, 16%);
    --Softviolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
    --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.container {
    background-color: var(--Verydarkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}
.card {
    max-width: 900px;
    background-color: var(--Darkdesaturatedblue);
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: auto 50px;
    overflow: auto;
    border-radius: 10px;
}
.contents {
    margin: auto 30px;
    padding: 30px;
}
.contents .header-span {
    color: var(--Softviolet);
}
.contents p {
    color: var(--Slightlytransparentwhite);
}
.stats {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.stats .num {
    font-size: 20px;
    font-weight: bolder;
}
.stats .span {
    display: block;
    padding-right: 10px;
    gap: 10px;
    color: var(--Slightlytransparentwhite);
    text-transform: uppercase;
    font-size: 14px;
}
.img-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--Softviolet);
}

img {
    width: 100%;
    height: 100%;
    opacity: .57;
}

@media (max-width: 700px) {
    .container {
        padding: 20px;
    }
    
    .card {
        max-width: 300px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--Darkdesaturatedblue);
        overflow: hidden;
        border-radius: 10px;
        color: var(--White);
        /* padding: 10px; */
        overflow: auto;
    }
    .contents {
        padding: 20px;
        margin: auto 6px;
    }

    .contents .header-span {
        color: var(--Softviolet);
    }
    
    .stats {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .stats .num {
        margin-top: 10px;
        font-size: 20px;
        display: block;

    }
    .stats .span {
        margin-top: 5px;
        text-transform: uppercase;
        display: block;
        color: var(--Slightlytransparentwhite);
    }

    /* .img-container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img {
        height: 100%;
        width: 100%;
    } */
}
